<div class="container">
  <mat-tab-group>
      <!-- Lista dei Dipendenti-->
      <mat-tab label="Dipendenti" class="DipendentiList">
        @if(!currentDipendente){
          <div class="container">
          <table mat-table [dataSource]="(users$ | async) || [] " class="mat-elevation-z8">
            
              <!-- Cf Column -->
              <ng-container matColumnDef="cf">
                <th mat-header-cell *matHeaderCellDef> CF </th>
                <td mat-cell *matCellDef="let Dipendenti"> {{Dipendenti.cf | uppercase}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let Dipendenti"> {{Dipendenti.name}} </td>
              </ng-container>
            
              <!-- Surname Column -->
              <ng-container matColumnDef="surname">
                <th mat-header-cell *matHeaderCellDef> Surname </th>
                <td mat-cell *matCellDef="let Dipendenti"> {{Dipendenti.surname}} </td>
              </ng-container>
            
              <!-- Daysoff Column -->
              <ng-container matColumnDef="daysoff">
                <th mat-header-cell *matHeaderCellDef> Daysoff </th>
                <td mat-cell *matCellDef="let Dipendenti"> {{Dipendenti.daysoff}} </td>
              </ng-container>
              
              <!--Permits Column-->
              <ng-container matColumnDef="permits">
                  <th mat-header-cell *matHeaderCellDef> Permits</th>
                  <td mat-cell *matCellDef="let Dipendenti"> {{Dipendenti.permits}} </td>
              </ng-container>

              <!-- Edit Column -->
              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> Edit </th>
                <td mat-cell *matCellDef="let Dipendenti">
                  <button mini-fab (click)="DeleteDipendente(Dipendenti.cf)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mini-fab (click)="EditDipendente(Dipendenti)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mini-fab (click)="ShowScheduleDipendente(Dipendenti)">
                    <mat-icon>schedule</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator length="dipendenti.length"
                [pageSize]="pageSize"
                [pageIndex]="pageIndex"
                [pageSizeOptions]="pageSizeOptions"
                (page)="onPageChange($event)"
                aria-label="Select page"
            >
            </mat-paginator>
            <button mat-fab extended (click)="AddDipendente()">
              <mat-icon>add</mat-icon>
              Add Dipendente
            </button>
            
          </div>
        } @else {
          <button class="back" mat-fab extended (click)="back()">
            <mat-icon>reply</mat-icon>
          </button>
          <app-dipendente [cf]="currentDipendente"></app-dipendente>
          <button class="back" mat-fab extended (click)="addSchedule(currentDipendente)">
            <mat-icon>add circle</mat-icon>
            Add Schedule to User
          </button>
        }
      </mat-tab>

      <!--Orario dell'Admin-->
      <mat-tab label="Il tuo Orario" class="AdminHours">

          <app-dipendente></app-dipendente>

      </mat-tab>
  </mat-tab-group>
</div>