<div class="container">
<h1>Login</h1>
    <form>
        <p>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Insert your Tax Id Code">
                <mat-icon matSuffix>badge</mat-icon>
                <mat-hint>Tax Code</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Insert your password">
                <mat-icon matSuffix>pin</mat-icon>
                <mat-hint>Password</mat-hint>
            </mat-form-field>
        </p> 
        <button mat-stroked-button (click)="login()">Enter</button>
    </form>
</div>