<div class="flex-container">
  <div class="table-container">
    <!--Tabella Orari-->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" >
      <!-- Day Column -->
      <ng-container matColumnDef="day">
        <th mat-header-cell *matHeaderCellDef>Day</th>
        <td mat-cell *matCellDef="let orario" [ngClass]="{'holidaysActived' : orario.holidays}">{{orario.day}}</td>
      </ng-container>
        
      <!-- Schedule Column -->
      <ng-container matColumnDef="schedule">
        <th mat-header-cell *matHeaderCellDef>Schedule</th>
        <td mat-cell *matCellDef="let orario" [ngClass]="{'holidaysActived' : orario.holidays}"> {{orario.entrance}}/{{orario.leaving}}</td>
      </ng-container>
          
      <!-- Entrance Column -->
      <ng-container matColumnDef="entrance">
        <th mat-header-cell *matHeaderCellDef>Entrance</th>
        <td mat-cell *matCellDef="let orario" [ngClass]="{'holidaysActived' : orario.holidays}"> {{orario.holidays ? "" : orario.in }} </td>
      </ng-container>
          
      <!-- Leaving Column -->
      <ng-container matColumnDef="leaving">
        <th mat-header-cell *matHeaderCellDef>Leaving</th>
        <td mat-cell *matCellDef="let orario" [ngClass]="{'holidaysActived' : orario.holidays}"> {{orario.holidays ? "" : orario.out }} </td>
      </ng-container>
        
      <!-- Holidays Column -->
      <ng-container matColumnDef="holidays" >
        <th mat-header-cell *matHeaderCellDef>Holidays</th>
        <td mat-cell *matCellDef="let orario" [ngClass]="{'holidaysActived' : orario.holidays}"> {{orario.holidays ? "Actived" : '' }} </td>
      </ng-container>
        
      <!-- Permits Column -->
      <ng-container matColumnDef="permit">
        <th mat-header-cell *matHeaderCellDef>Permits</th>
        <td mat-cell *matCellDef="let orario" [ngClass]="{'holidaysActived' : orario.holidays}"> {{orario.permits ? orario.permits : '' }} </td>
      </ng-container>
            
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="selectedRow=row"
        [class.demo-row-is-clicked]="selectedRow===row"
        *matRowDef="let row; columns: displayedColumns;"
      ></tr>
      
      
    </table>
    <div class="paginator container">
      <!-- Paginator-->
      <mat-paginator [length]="orari.length"
              [pageSize]="pageSize"
              [pageIndex]="pageIndex"
              (page)="onPageChange($event)"
              [hidePageSize]="true"
              aria-label="Select page">
        </mat-paginator>
    </div>
  </div>

  

  <div class="button-container">

    <!--Bottoni-->
    @if(selectedRow && selectedRow.id!==0){
      <div id="container-button">
        <!--Bottone Entrata-->
        @if(selectedRow.in===""){
        <button mat-flat-button (click)="stampEntry()">Entrance</button>
        }
        <!--Bottone Uscita-->
        @if(selectedRow.out===""){
        <button mat-flat-button [disabled]="!selectedRow.in" (click)="stampExit()">Leaving</button>
        }
      </div>
    }
  </div>

  <div class="card-container">

    <!--Card-->
    @if(selectedRow && selectedRow.id!==0){
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title> 
            {{selectedRow.day}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="content-card">
            <p>{{ selectedRow.holidays ? 'Ferie' : ( "Your Schedule: " + selectedRow.entrance + "/" + selectedRow.leaving)}}</p>
            @if(selectedRow.permits){  
              <p> Ore permesso usate {{selectedRow.permits}}</p>
            }
          </div>
        </mat-card-content>
        <mat-card-actions>
          @if(selectedRow.entrance !== ""){
            <button mat-button (click)="openHolidayDialog()">Aggiungi Ferie</button>
            @if(!selectedRow.permits){
              <button mat-button (click)="openPermitsDialog()">Aggiungi ore di permesso</button>
            } @else {
              <button mat-button (click)="openPermitsDialog()">Cambia ore di permesso</button>
            }
          }
        </mat-card-actions>
      </mat-card>
    }
  </div>

</div>